(routes) {
    handle /api/* {
        reverse_proxy backend:8000
    }
    handle /mcp/* {
        reverse_proxy mcp:8003 {
            flush_interval -1
        }
    }
    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}

loadedout.online {
    import routes
}

www.loadedout.online {
    redir https://loadedout.online{uri} permanent
}
